
body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:500px;
padding:15px;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#D4DCE2;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:4px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:10px;
border-bottom:solid 1px #000000;
padding-bottom:5px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:left;
width:150px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 10px 5px;
}
#stylized button{
clear:both;
width:100px;
height:25px;
background:#666666 ;
text-align:center;
line-height:20px;
color:#FFFFFF;
font-size:13px;
font-weight:bold;
cursor: pointer;
}