ul.class {
	margin-left: 5%;
	text-align: left;
	display: inline;
	margin: 0;
	list-style: none;
}

ul.class li {
	font-size:12px;
	font: Segoe UI;
	font-weight: 600;
	display: inline-block;
	margin-right: 0px;
	position: relative;
	padding: 6px 35px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	display: inline-block;
}

ul.class li:hover {
	text-decoration: underline;
}

ul.class li ul {
	margin-left: 10%;
	padding: 0;
	position: absolute;
	top: 27px;
	left: 0;
	width: 150px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

ul.class li ul li {
	text-align: left;
	padding-left: 5%;
	background: #A6CE8E;
	display: block;
	color: #fff;
	font-weight: normal;
	font-size: 12px;
}

ul.class li ul li:hover {
	background: #666;
}

ul.class li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}